.rateData {
    min-width: 300px;
}
.rateTitle,{
    padding-left: 45px;
}
.rateDisplayTitle{
    padding-left: 15px;
}
.rateBt {
    margin-left: 50px;
    border: none;
    border-radius: 10px; 
    background-color: turquoise;
}
