.tag{
  background-color:#efefef;
  text-align: center;
  text-transform: capitalize;
  font-size: 15px ! important;
}
.tag:hover{
  background: #20c0b0;
  color: #ffffff;
  cursor: pointer;
}
.badge-pill {
 margin: 4px 40px;
}