.articles-body {
  display: flex;
  flex-flow: row wrap;

  padding: 30px;

  .article-card {
    min-width: 250px;
    max-width: 25%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .image-wrapper {
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin: 0;
    border-radius: 20px;

    img {
      display: block;
      margin: 0 -30%;
      width: 177.777%;
    }
  }
  .text-section {
    max-width: 90%;
    margin-top: -50px;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 10px #efefef;
    text-align: center !important;
    align-content: center !important;

    .title-section {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      padding: 2px;
    }
    .body-section {
    }
    .date-section {
    }
    .read-more {
      border-radius: 5px;
    //   border: 1px solid red;
      width: 40%;
	  background: #47d79f;
	  color: white;

	  a{
		  color: #efefef;
	  }
    }
  }
}
