$primaryLight: #40e0d0;
$primaryDark: #20c0b0;
$primaryDarker: #345F5B;

.articles-body {
  display: flex;
  flex-flow: row wrap;

  padding: 30px;

  .article-card {
    min-width: 250px;
    max-width: 25%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .image-wrapper {
    max-width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin: 0;
    border-radius: 20px;

    img {
      display: block;
      margin: 0 -30%;
      width: 177.777%;
    }
  }
  .text-section {
    max-width: 90%;
    margin-top: -50px;
    z-index: 2;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 10px #efefef;
    text-align: center !important;
    align-content: center !important;

    .title-section {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      padding: 2px;
    }
    .body-section {
    }
    .date-section {
    }
    .read-more {
      text-align: center;
      padding-top: 20px;

      a {
        border-radius: 5px;
        background: $primaryLight;
        color: #efefef;
        text-align: center;
        padding: 5px 10px;
      }
      a:hover {
        text-decoration: none;
        border: 1px solid $primaryLight;
        background: white;
        color: $primaryDark;
      }
    }
  }
}
