.profile-box{
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .img-username{
    flex-grow: 1;
    min-width: 200px;
    width: 25%;
    padding: 10px;
    img {
      width: 100%;
      padding: 5px;
      border: 1px solid #eee;
      display: block;
      margin: 0 -30%;
      width: 177.777%
     }
    .username{
      max-width: 90%;
      margin: 0 -30%;
      z-index: 2;
      background-color:turquoise;
      border-radius: 30px;
      padding: -20px;
      padding-left: 20px;
      box-shadow: 2px 10px #efefef;
      text-align: center !important;
      align-content: center !important;
    }

    
  }
  
  .profile-details{
    flex-grow: 1;
    min-width: 300px;
    border: 2px solid #ddd;
    width: 75%;
    padding: 20px;
    .bio {
      text-align: center;
      border: 1px solid #eee;
      height: 75%;
    }

  }
}
.about{
  margin: 4em 0;
  padding: 1em;
  position: relative;
 }
 .about h1{
  color:#F97300;
  margin: 2em;
 }
 
 .about span{
  display: block;
  color: #888;
  position: absolute;
  left: 115px;
 }
 .about .desc{
  padding: 2em;
  border-left:4px solid #10828C;
 }
 .about .desc h3{
  color: #10828C;
 }
 .about .desc p{
  line-height:2;
  color:#888;
 }
 
 .button{
  color: turquoise !important;
  border-color: turquoise !important;
 }
 .button:hover{
   background-color: turquoise !important;
   color: white !important;
 }
 .form-control{
  color:blue;
}
.title{
 color: turquoise; 
}

.viewProfiletitle {
  color: turquoise !important;
}
