h1 {
  font-size: 3.5rem;
  font-weight: bold;

  &::after {
    content: "👋";
    display: inline-block;
    transform: rotate(-20deg);
    animation: wave 0.75s infinite linear alternate;
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}
