@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

$bodyFontFamily: 'Montserrat', sans-serif;
$headingFontFamily: 'Raleway', sans-serif;
$primaryLight: #40e0d0;
$primaryDark: #20c0b0;
$primaryDarker: #345F5B;

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFontFamily !important;
}
body, p {
  font-family: $bodyFontFamily !important;
}

.home-body {
  display: flex;
  flex-flow: row wrap;
  .lefter {
    width: 75%;
    .article-card {
      max-width: 50%;
      .image-wrapper {
        max-height: 300px;
      }
    }
    hr {
      border-top: solid 2px #adac97;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .righter {
    min-width: 25%;

    .righter-title {
      text-align: center;
      font-weight: bold;
      padding-top: 65px;
      font-size: 30px;
      text-decoration: underline;
    }
  }
}
.lefter-title {
  padding-bottom: 0%;
  padding-left: 5%;
  font-weight: bolder;
  padding-top: 20px;
  font-size: 50px;
}
