@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Bitter|Dancing+Script|Lobster|Sedgwick+Ave');

$primaryLight: #40e0d0;
$primaryDark: #20c0b0;
$primaryDarker: #345F5B;

.header {
  background-color: white;
  border-bottom: #cccccc solid;
  .nav {
    .logo {
      background: white;
      color: #47d79f;
      font-family: "Lobster", cursive;
      font-size: 45px;
      padding-top: 13px;
      padding-right: 10px;
      padding-left: 20px;
      text-shadow: 4px 4px rgba(0, 0, 0, 0.08);
      line-height: normal;
      &:hover {
        color: #3db184;
      }
    }
    .nav-1 {
      background: white;
      vertical-align: 10px;
      width: 30%;
      padding-top: 23px;
      justify-content: space-around;
      font-size: 18px;
      font-family: "Roboto Condensed", sans-serif;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #3db184;
        }
      }
    }
    .nav-2 {
      background: white;
      justify-content: space-around;
      font-size: 14px;
      margin-top: -20px;
      font-family: "Roboto Condensed", sans-serif;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          color: #3db184;
        }
      }
    }
  }
  .search-bt {
    border-radius: 0;
    border: 1px solid #dddddd;
  }
  .search-box {
    border-radius: 0;
  }
  .search-form {
    display: flex;
    color: black;
  }
  #btLogout {
    background: none;
    border: none;
  }
  #btLogout:hover {
    color: $primaryDark;
    cursor: pointer;
  }
}
